# CODEOWNERS - Automatically request reviews from code owners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything in the repo
* @josedacosta

# Theme files
/theme/ @josedacosta

# Builder files
/builder/ @josedacosta

# GitHub configuration
/.github/ @josedacosta
